.instagram-panel {
  padding: var(--block-padding) 0;
  text-align: center;

  &__title {
    @include blockTitle;
  }

  &__content {
    @include blockIntro;
  }

  + .gallery {
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }

}

.instagram-feed {
  background: red;
  margin: inc_to_rem(4) (-(inc_to_rem(2)));
}