.resdiary-wrap {
  padding-top: inc_to_rem(2);

  @include mq(tablet) {
    padding-top: inc_to_rem(5);
  }

  @include mq(tablet-lg) {
    padding-top: 0;
    margin-bottom: inc_to_rem(5);
  }

  .container {
    @include mq(tablet-lg) {
      align-items: flex-end;
    }
  }
  
  .resdiary {
    background: red;
    border-radius: var(--border-radius);
    box-shadow: var(--panel-box-shadow);
    height: 350px;
    padding: inc_to_rem(1);
    margin: 0 auto;
    max-width: 350px;
    width: 100%;

    @include mq(tablet-lg) {
      bottom: -75px;
      padding: 0;
      position: absolute;
    }

    @include mq(desktop) {
      bottom: -100px;
      height: 450px; 
      max-width: 450px;
    }

    @include mq(desktop-lg) {
      bottom: -125px;
      height: 550px; 
      max-width: 550px;
    }
    

  }

}