.gallery {

  @include mq(tablet) {
    display: flex;
  }

  &__img {
    display: flex;
    @include mq(tablet) {
      aspect-ratio: 1 / 1;
      flex: 1;
    }

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }

  }

}