.site-footer {
  background: var(--footer-bg);
  color: var(--footer-colour);
  flex-shrink: 0;
  padding: inc_to_rem(4) 0;

  @include mq(tablet) {
    padding: inc_to_rem(6) 0 inc_to_rem(2);
  }

  @include mq(desktop) {
    padding: inc_to_rem(8) 0 inc_to_rem(4);
  }

  .container {
    @include mq(tablet) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

  }

  &__logo {
    margin-bottom: inc_to_rem(3);
    width: 250px;
  }

  p {
    font-size: inc_to_rem(2);
    line-height: inc_to_rem(3);

    strong { display: block; }

    a {
      @include textLink(var(--footer-link-colour));
    }

  }

  &__col {
    border-bottom: 2px solid var(--footer-hr-colour);
    display: flex;
    flex-direction: column;
    margin-top: inc_to_rem(4);
    padding-bottom: inc_to_rem(4);

    @include mq(tablet) {
      border: none;
      margin: 0 0 inc_to_rem(7);
      padding-bottom: 0;
      width: 50%;
    }

    @include mq(tablet-lg) {
      margin-bottom: inc_to_rem(4);
    }

    @include mq(desktop) {
      margin-bottom: 0;
      padding-top: inc_to_rem(3);
      padding-right: inc_to_rem(5);
    }

    p {
      line-height: inc_to_rem(4);
      margin-bottom: inc_to_rem(3);

      &:last-child { margin-bottom: 0; }

    }

    &:nth-child(odd) {
      @media only screen and (min-width: 768px) and (max-width: 992px) {
        padding-right: inc_to_rem(3);
      }
    }

    &:nth-child(even) {
      @media only screen and (min-width: 768px) and (max-width: 992px) {
        padding-left: inc_to_rem(3);
      }
    }


    &--first {

      @include mq(tablet-lg) {
        position: relative;
        width: 100%;
      }

      @include mq(desktop) {
        padding-top: 0;
        margin-right: inc_to_rem(5);
        width: var(--footer-col-width);
      }

      @include mq(desktop-lg) {
        margin-right: inc_to_rem(10);
      }

      p {
        margin: 0;
      }

    }

    &--links {

      @include mq(tablet) {
        margin-top: 85px;        
      }

      @include mq(tablet-lg) {
        flex: 1;
        margin-top: 0;
      }

    }

    &--contact {

      @include mq(tablet-lg) {
        width: 40%;
      }

      @include mq(desktop) {
        width: var(--footer-col-width);
      }
      
    }

    &--hours {

      @include mq(tablet-lg) {
        width: 40%;
      }

      @include mq(desktop) {
        width: var(--footer-col-width);
      }
      
    }

  }

  &__heading {
    font-size: inc_to_rem(2);
    font-weight: var(--font-bold);
    line-height: inc_to_rem(3);
    margin-bottom: inc_to_rem(3);
    text-transform: uppercase;
  }

}


//== Footer Social

.footer-social {
  display: flex;
  list-style: none;
  margin: inc_to_rem(3) 0 0;
  padding: 0;

  @include mq(tablet) {
    position: absolute;
    right: inc_to_rem(3);
    top: -25px;
  }

  @include mq(tablet-lg) {
    right: 0;
  }

  @include mq(desktop) {
    position: relative;
    right: auto;
    top: auto;
  }

  &__item {
    margin-right: inc_to_rem(2);

    &:last-child { margin-right: 0; }

  }

  &__link {
    border: none;

    svg {
      fill: var(--footer-link-colour);
      height: 50px;
      width: 50px;
    }

  }

}


//== Footer Links

.site-footer-links {
  list-style: none;
  margin: 0 0 (-(inc_to_rem(2)));
  padding: 0;
  column-count: 2;

  @include mq(tablet-lg) {
    column-count: unset;
  }

  &__item {
    font-size: inc_to_rem(2);
    line-height: inc_to_rem(3);
    margin-bottom: inc_to_rem(2);

    @include mq(tablet) {
      margin-right: inc_to_rem(5);
    }

  }

  &__link {
    @include textLink(var(--footer-link-colour));
  }

}


//== Footer Bottom

.site-footer-bottom {
  margin-top: inc_to_rem(5);

  @include mq(tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 0;
    width: 100%;
  }

  @include mq(tablet-lg) {
    margin-top: inc_to_rem(7);
  }

  p:first-child {

    @include mq(tablet) {
      margin-bottom: inc_to_rem(3);
      width: 100%;
    }

    @include mq(tablet-lg) {
      margin-bottom: inc_to_rem(2);
    }

    @include mq(desktop) {
      margin-bottom: inc_to_rem(3);
    }

  }

}

.site-footer-bottom-links {
  list-style: none;
  margin: inc_to_rem(3) 0 inc_to_rem(5);
  padding: 0;

  @include mq(tablet) {    
    display: flex;
    margin: 0;
  }

  &__item {
    font-size: inc_to_rem(2);
    line-height: inc_to_rem(3);
    margin-bottom: inc_to_rem(2);

    @include mq(tablet) {
      margin-right: inc_to_rem(3);
    }

  }

  &__link {
    @include textLink(var(--footer-link-colour));
  }

}