.reviews-panel {
  overflow: hidden;
  padding: var(--block-padding) inc_to_rem(2);
  
  @include mq(tablet) {
    padding-right: inc_to_rem(3);
    padding-left: inc_to_rem(3);
  }
  
  @include mq(tablet-lg) {
    padding-right: inc_to_rem(4);
    padding-left: inc_to_rem(4);
  }
  
  @include mq(desktop) {
    padding-right: 0;
    padding-left: 0;
  }

  .container {

    @media only screen and (max-width: 1366px) {
      padding: 0;
    }
    
    @include mq(desktop) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: inc_to_rem(5);
    }
    
  }

  .owl-stage {
    display: flex;
  }

  .owl-item {
    flex: 1;
  }

  .owl-stage-outer { overflow: visible; }

  .owl-carousel {

    .owl-dots {
      align-items: center;
      justify-content: center;
      display: flex;
      margin-top: inc_to_rem(4);

      .owl-dot {
        border: 2px solid var(--green);
        border-radius: 50%;
        height: inc_to_rem(2);
        margin: 0 5px;
        width: inc_to_rem(2);

        &.active { background: var(--green); }

      }

    }

  }

  > p {
    font-size: inc_to_rem(2);
    margin-top: inc_to_rem(3);
    text-align: center;

    a:not([href^="tel:"]) { @include textLink; }

    @include mq(tablet-lg) {
      margin-top: inc_to_rem(6);
    }

    @include mq(desktop) {
      font-size: inc_to_rem(3);
      margin-top: inc_to_rem(7);
    }

    @include mq(desktop-md) {
      margin-top: inc_to_rem(9);
    }
    
  }

}

.review {
  @include smallPanel;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__title {
    font-size: inc_to_rem(2);
    line-height: inc_to_rem(3);
    font-weight: var(--font-bold);    
    margin-top: inc_to_rem(4);
    margin-bottom: inc_to_rem(2);
  }

  &__excerpt {
    font-size: inc_to_rem(2);
    line-height: inc_to_rem(3);
    margin-bottom: inc_to_rem(3);

    @include mq(tablet) {
      margin-bottom: inc_to_rem(4);
    }

    @include mq(desktop) {
      line-height: inc_to_rem(4);
      margin-bottom: inc_to_rem(6);
    }
    
  }

  &__author {
    font-size: inc_to_rem(2);
    font-weight: var(--font-bold);
    line-height: inc_to_rem(3);
    margin-top: auto;
  }

}



//== Rating 

.review-rating {
  display: flex;
  margin-bottom: inc_to_rem(2);

  &__dot {
    border: 2px solid var(--rating-green);
    border-radius: 50%;
    display: block;
    height: inc_to_rem(2);
    margin-right: 4px;
    width: inc_to_rem(2);
  }

  @mixin fullRating() { 
    background: var(--rating-green);
  }
  
  @mixin halfRating() {
    background: linear-gradient(90deg,  var(--rating-green) 50%, #fff 50%);
    border: 2px solid  var(--rating-green);
  }


  
  &--rating1 {
    .review-rating__dot {

      &:nth-child(1) {
        @include fullRating;
      }

    }    
  }

  &--rating1-5 {
    .review-rating__dot {
    
      &:nth-child(1) { 
        @include fullRating;
      }

      &:nth-child(2) {
        @include halfRating;
      }

    }
  }


  &--rating2 {
    .review-rating__dot {

      &:nth-child(1), &:nth-child(2) {
        @include fullRating;
      }

    }    
  }

  &--rating2-5 {
    .review-rating__dot {
    
      &:nth-child(1), &:nth-child(2) { 
        @include fullRating;
      }

      &:nth-child(3) {
        @include halfRating;
      }

    }
  }

  &--rating3 {
    .review-rating__dot {

      &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        @include fullRating;
      }

    }    
  }

  &--rating3-5 {
    .review-rating__dot {
    
      &:nth-child(1), &:nth-child(2), &:nth-child(3) { 
        @include fullRating;
      }

      &:nth-child(4) {
        @include halfRating;
      }

    }
  }
  
  &--rating4 {
    .review-rating__dot {

      &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
        @include fullRating;
      }

    }    
  }

  &--rating4-5 {
    .review-rating__dot {
    
      &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) { 
        @include fullRating;
      }

      &:last-child {
        @include halfRating;
      }

    }
  }

  &--rating5 {
    .review-rating__dot {
      @include fullRating;      
    }    
  }





  // @for $i from 1 through 5 {
  //   &--rating#{$i} { .review-rating__dot { @include fullRating; } }
  // }

  // @for $i from 1 through 5 {
  //   &--rating#{$i}-5 {
  //     .review-rating__dot {
  //       @include fullRating;
  //     }
  //     .review-rating__dot:last-child {
  //       @include halfRating;
  //     }
  //   }
  // }

}